:root{
  --mainGolden: #E0CD8D;
  --mainGreen: #476624;
  --mainBrown: #32201F;
  --topNavbarHeight: 50px;
  --largeSpacing: 24px;
  --middleSpacing: 16px;
  --smallSpacing: 8px;
  --XLargeFontSize: 48px;
  --largeFontSize: 24px;
  --middleFontSize: 20px;
  --normalFontSize: 16px;
  --smallFontSize: 12px;
}

@custom-media --small-viewport (max-width: 768px);

*{
  box-sizing: border-box;
}

html, body, #__layout, #__nuxt{
  width: 100%;
  height: 100%;
}

#main{
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
}

#page{
  flex: 1 0 auto;
}

#page > #container{
  max-width: 1080px;
  margin: 0 auto;
  font-size: var(--normalFontSize);
}

.top-header, .bottom-footer{
  flex: none;
}
